<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {# Crea un bloque en la plantilla con contenido por defecto #}
    {% block titulo %} Inicio {% endblock %} - Master en PHP de Victor Robles
  </title>
</head>
<body>
  <div id=""header>
    {# Crea un bloque en la plantilla con contenido por defecto #}
    {% block cabecera %}
      <h1>Cabecera de la plantilla</h1>
    {% endblock %}
    <hr>
  </div>

  <section id="content">
    {# Crea un bloque en la plantilla con contenido por defecto #}
    {% block contenido %}
      <p>Contenido por defecto</p>
    {% endblock %}
  </section>

  <footer>
    <hr>
    victorroblesweb.es
  </footer>
</body>
</html>